footer{
  min-height: 450px;
  background-color: #333;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer span{
  margin: 0;
  padding: 0;
}

footer .github{
  color:white;
  font-size: 18px;
  font-weight: bold;
}
.github a{
  text-decoration: none;
  color:inherit;
}
