#ana h1{
  text-align: center;
  font-family: "Arial", Gadget, sans-serif;
}

#ana {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}
#textbox{
  width: 60%;
  height: 25px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  border:1px solid black;
  font-family: "Comic Sans MS",sans-serif;
  padding: 10px;

}

body{
  background-color: #eee;
}

#ekle-button{
  margin-left: 5px;
  background-color: rgb(139,10,38); /* red */
   border: none;
   border-radius: 10px;
   color: white;
   padding: 12px 30px;
   padding-bottom: 10px;
   font-size: 20px;
   outline: none;
}
#ekle-button:active{
  transform: translateY(1px);
}
#ekle-button:hover{
  background-color: rgb(100,10,38);
}
ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: block;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  background-color: #eee;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color :#333333;
}
ul li:nth-child(even) {
  background: #f9f9f9;
}

#yapilanlar{
  width: 49%;
  float: left;
  border: 1px solid;
  margin-left: 10px;
  font-size: 150%;

}
#yapilacaklar{
  width: 49%;
  float: left;
  border: 1px solid;
  margin-left: 10px;
  font-size: 150%;
  position: relative;
}

.baslik{
  width: 49%;
  float: left;
  border: 1px 1px 0px 1px;
  margin-left: px;
  text-align: center;
}
ul h1{
  background-color: #dcdcdc;
  margin:0;
  padding: 0;
  color:#333333;
}
#yapilanlar li{
    text-decoration: line-through;
}
li span{

  float: right;
  padding-right:3px;
  font-size: 15px;
}
